html, body {
    font-family: Arial;
    font-size: 12px;
}

header {
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100px;
    background: #fafafa;
    box-shadow: 0 1px 5px #858585;
}

main {
    margin: 110px auto 10px;
    width: 900px;
}

.header-controls {
    margin: 60px auto 10px;
    height: 30px;
    width: 900px;
}

.header-controls__button {
    background: #027ee0;
    border: none;
    width: 82px;
    height: 28px;
    margin: 0 10px;
    color: #fff;
    text-shadow: 0 1px #555555;
    box-shadow: 2px 1px 2px #ccc;
    border-radius: 1px;
    -webkit-user-select: none;
    cursor: pointer;
}

.header-controls__search {
    float: right;
    width: 200px;
    height: 28px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px rgba(104, 104, 104, 0.63);
    padding-left: 5px;
    color: #d3d3d3;
}

.header-controls__search:before {
    content: '';
}

.calendar-controls {
    margin: 0 10px;
}

.calendar-controls__button {
    height: 20px;
    color: #555;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    font-size: .9rem;
    margin: 0 5px;
    -webkit-user-select: none;
    cursor: pointer;
}

.calendar {
    width: auto;
    margin: 10px auto;
    text-align: center;
}

.calendar__day {
    text-align: left;
    border: 1px solid #ebebeb;
    display: inline-block;
    margin-bottom: -1px;
    margin-left: -1px;
    color: #8B8B8B;
    font-size: 11px;
    padding: 5px;
    width: 110px;
    height: 100px;
    -webkit-user-select: none;
}

.calendar .today {
    background: #f4f4f4;
    font-weight: 600;
}

.calendar .selected {
    background: #e5f1f9;
    border-color: #8abfe9;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
}

.clear {
    content: " ";
    clear: both;
    height: 1px;
}